<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Produktuak</title>
	<!-- Estilos específicos para la tabla -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/taulak.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
</head>

<body>
	<!-- Incluir el navbar, que ya tiene su propio archivo de estilos -->
	<div th:replace="~{/fragments/navbar.html :: navbar}"></div>

	<h1>Produktuak</h1>

	<table>
		<thead>
			<tr th:if="${produktuak != null}">
				<th>Produktua</th>
				<th>Deskripzioa</th>
				<th>Prezioa</th>
				<th>Stock-a</th>
				<th>Talla</th>
				<th>Argazkia</th>
				<th>Taldea</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="produktua : ${produktuak}" th:if="${produktuak != null}">
				<td th:text="${produktua.izena}"></td>
				<td th:text="${produktua.deskribapena}"></td>
				<td th:text="${produktua.prezioa}"></td>
				<td th:text="${produktua.stock}"></td>
				<td>
					<select>
						<option th:each="tamaina : ${produktua.tamainaList}" th:value="${tamaina.trim()}"
							th:text="${tamaina.trim()}"></option>
					</select>
				</td>

				<td>
					<img th:src="@{'/uploads/' + ${produktua.irudiaUrl}}" alt="Imagen del producto" width="100">
				</td>
				<td th:text="${produktua.taldea.izena}"></td>
				<td><a th:href="@{/produktua/admin/editatu/{id}(id=${produktua.id})}"
						th:if="${rola == 'ROLE_ADMIN'}">Editatu</a></td>
				<td><a th:href="@{/produktua/admin/ezabatu/{id}(id=${produktua.id})}"
						th:if="${rola == 'ROLE_ADMIN'}">Ezabatu</a></td>
				<td><a th:href="@{/produktua/produktuak/erosi/{id}(id=${produktua.id})}"
						th:if="${rola == 'ROLE_USER'}">Saskira sartu</a></td>
			</tr>
		</tbody>
		<div th:if="${produktuak == null}">
			<p class="saskia-text">Ez dago produkturik</p>
		</div>
		<a class="botoia" th:href="@{/produktua/admin/gehitu}" th:if="${rola == 'ROLE_ADMIN'}">Produktua gehitu</a>
	</table>
</body>

</html>