<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/produktuaForm.css}">
	<title>Produktua Aldatu</title>
</head>

<body>
	<h1>Produktua Aldatu</h1>

	<div class="form-container">
		<form th:action="@{/produktua/admin/editatu/{id}(id=${produktua.id})}" th:object="${produktua}" method="post" enctype="multipart/form-data">
			<!-- Izena -->
			<label for="izena">Izena:</label>
			<input type="text" id="izena" th:field="*{izena}" required="required" />
			<br><br>

			<!-- Deskribapena -->
			<label for="deskribapena">Deskribapena:</label>
			<input type="text" id="deskribapena" th:field="*{deskribapena}" />
			<br><br>

			<!-- Prezioa -->
			<label for="prezioa">Prezioa:</label>
			<input type="number" id="prezioa" th:field="*{prezioa}" step="0.01" required="required" />
			<br><br>

			<!-- Stock -->
			<label for="stock">Stock-a:</label>
			<input type="number" id="stock" th:field="*{stock}" required="required" />
			<br><br>

			<!-- Tamaina -->
			<label for="tamaina">Tamaina:</label>
			<input type="text" id="tamaina" th:field="*{tamaina}" />
			<br><br>

			<label for="file">Argazkia aukeratu:</label>
			<input type="file" id="file" name="file" required>
			<br><br>


			<!-- Taldea -->
			<label for="taldea">Taldea:</label>
			<select id="taldea" th:field="*{taldea}" required="required" onchange="toggleTaldeaForm()">
				<option th:each="talde : ${taldeak}" th:value="${talde.id}" th:text="${talde.izena}"
					th:selected="${talde.id == produktua.taldea?.id}"></option>
			</select>
			<br><br>

			<br><br>
			<button type="submit">Produktua aldatu</button>
			<a class="btn" th:href="@{/produktua/admin/produktuak}">Itzuli</a>
		</form>
	</div>

</body>

</html>