<!-- navbar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
    <div th:fragment="navbar">
        <nav>
            <ul>
                <li><a href="/home/futbolWear">Inicio</a></li>
                <li><a href="/perfil/ver">Perfil</a></li>
                <li><a href="/" th:if="${rola == 'ROLE_ADMIN'}">Ver productos</a></li>
                <li><a href="/users" th:if="${rola == 'ROLE_ADMIN'}">Ver usuarios</a></li>
                <li><a href="/carts" th:if="${rola == 'ROLE_ADMIN'}">Ver cestas</a></li>
                <li><a href="/produktua/produktuak" th:if="${rola == 'ROLE_USER'}">Productos</a></li>
                <li><a href="/cart" th:if="${rola == 'ROLE_USER'}">Mi cesta</a></li>
				<li>
				    <a href="#" onclick="document.getElementById('logout-form').submit();">Cerrar sesión</a>
				    <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;"></form>
				</li>

            </ul>
        </nav>
    </div>
</body>
</html>
